* {
    box-sizing: border-box;
    margin-top: 0;
    margin-left: 0;
}
.bgcolor{
    height: 100%;
    width: 100%;
    background-color: rgb(10, 80, 102);
}

.div1{
    height: 250px;
    width: 100%;
    border-bottom: 1px solid rgb(250, 249, 249);
}

.div2{
    float: left;
    height: 100%;
    width: 15%;
    border: 0px solid gray;
}

.img_zhsust_logo{
    height: 100%;
    width: 100%;
    padding: 5px 5px 5px 5px;
}

.div3{
    float: left;
    height: 100%;
    width: 100%;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.img_zhsust_banner{
    height: 100%;
    width: 100%;
    padding: 5px 5px 5px 5px;
}

.div4{
    float: left;
    height: 100%;
    width: 15%;
    border: 0px solid gray;
}

.img_cse_logo{
    height: 100%;
    width: 100%;
    padding: 5px 5px 5px 5px;
}

/*Navigation end*/

/*Menue start*/

.divmenue{
    height: 64px;
    width: 100%;
    margin-top: 3.5px;
}

.menuelist{
    float: left;
    height: 100%;
    width: 14.28%;
    border: 2px solid white;
    background-color: rgb(8, 8, 8);
    text-align: center;
}

.menuetext{
    color: rgb(1, 5, 3);
    text-decoration: none;
    color: white;
    
}
/*Menue end*/

/*body start*/

.divbody{
    height: 100%;
    width: 100%;
    padding: 50px;
    
    color: white;
    font-size: 150%;
}
/*body end*/

/*copyright start*/

.divcopyright{
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
}

/*Home page end*/

/*Table start*/

table, th, td{
    border: 2px solid rgb(0, 0, 0);
    color: black;
    background-color: white;
}

.tablestyle{
    width: 100%;
    height: 150px;
}

/*form style start*/

.container {  
    padding: 50px;  
  background-color: rgb(25, 51, 59);  
}  
  
input[type=text], input[type=password], textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1;  
}  
input[type=text]:focus, input[type=password]:focus {  
  background-color: orange;  
  outline: none;  
}  
 div {  
            padding: 10px 0;  
         }  
hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
}  
.registerbtn {  
  background-color: #4CAF50;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 0.9;  
  font-size: 120%;
}  
.registerbtn:hover {  
  opacity: 1;  
}  



/*Gallery style start*/

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  .formcenter{
    padding-left: 20%;
    padding-right: 20%;
  }